.button {
  min-width: 100px;
  padding: 10px;
  border-radius: 3px;

  font-size: var(--font-size-small);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);

  background: none;
  outline: none;

  transition: var(--transition);
  cursor: pointer;

  &.button:disabled,
  &.button:disabled:hover{
      color: var(--color-grey);
      border-color: var(--color-grey);
      cursor: default;
      background-color: transparent;
    }

  &.dark {
    border: 1px solid var(--color-white);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &.ligth {
    border: 1px solid var(--color-black);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}

// .button:disabled {
//   color: var(--color-grey);
//   border-color: var(--color-grey);
//   background-color: none;
// }